CSS
/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}

/*

1 - Navbar
2 - SectionChamada
3 - SectionValores
4 - SectionTipos
5 - SectionLocal
6 - SectionAssine
7 - SectionFooter
*/


/* 1 - Navbar */
nav{
    background-color: #000;
    padding: 40px 0;
}

nav ul li a{
    color :#fff;
    text-decoration: none;
    font-size: 1.125em;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
}

nav ul li:after{
    content: "";
    background-color: #fff;
    width: 0;
    height: 5px;
    display: block;
    transition: 0.3s
}

nav ul li:hover:after{
    width: 100%;
}

/* 2 - Section Chamada */
#chamada{
    background: url("../img/bg-intro.jpg") no-repeat center center;
    padding: 130px 0;
    background-size: cover;
}
#chamada h1, #chamada h5{
    color: #fff;
}

#chamada h1::after{
    content: "";
    background: #fff;
    display: block;
    width: 20px;
    height: 4px;
    margin: 10px auto 0 auto;
}

#chamada h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

#chamada h5{
    font-size:1.125em;
    text-align: center;
    font-style: italic;
}



/* 3 - Section Valores*/

#valores{
    padding: 80px ;
}

#valores h2{
    font-size 2.25em;
    text-align: center;
    margin-bottom: 20px
}

#valores p{
    font-size: : 1.125em;
    font-style: italic;
    max-width: 460px;
    text-align: center;
    margin: 0 auto;
}

#valores .valor{
    float: left;
    margin: 0 10px;
}


#valores .valor h3{
    width: 220px;
    font-size: 2.25em;
    background-color: #252525;
    padding: 5px 0 10px 0;
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    top: -25px;
}

@media(max-width:960px){
    #valores.container{
        max-width: 600px;
    }
    #valores .valor img{
        width: 280px;
    }
    #valoress .valor h3{
        font-size: 1.125em;
    }
    
    @media(max-width:600px){
        #valores.container{
        max-width: 300px;
        }
        #valores .valor{
            margin: 20px 0;
        }
        #valores .valor img{
            width: 300px;
        }
        #valoress .valor h3{
            font-size: 2.25em;
            margin: 0 auto;
        }
    }
}

/* 4 - Section Tipos */

#tipos-cafe{
    background-color: #e7e4d8;
}

#tipos-cafe .tipo-item{
    width: 300px;
    float: left;
    margin: 20px 10px;
}

#tipos-cafe .tipo-item p{
    font-size: 0.875em;
    
}

#tipos-cafe .tipo-item h2{
    font-size: 2.25em;
    text-align: center;
}

#tipos-cafe .tipo-item h2::before{
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    background-color: red;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 5px red;
}

#tipos-cafe .tipo-item #paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#tipos-cafe .tipo-item #carioca::before{
    background-color: #c17129;
    box-shadow: 0 0 0 5px #c17129;
}

#tipos-cafe .tipo-item #mineiro::before{
    background-color: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#tipos-cafe a{
    width: 150px;
    border: 2px solid #252525;
    color: #252525;
    text-decoration: none;
    margin: 20px auto 0 auto;
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 1.125em;
    font-weight: bold;
    transition-duration: 0.3s;
    position: relative;
    top: -15px
}

#tipos-cafe a:hover{
    background-color: #252525;
    color: #fff;
}

/* 5 - SectionLocal*/

#locais {
	margin: 0 auto;
	padding: 20px 0;
}

#locais .locais-item {
	clear: both;
	margin: 60px auto;
}


#locais .locais-item img {
	width: 460px;
	display: block;
	float: left;
	margin: 10px;
}

#locais .locais-item div {
	width: 460px;
	float: left;
	margin: 0 10px;
}

#locais .locais-item h2 {
	margin-bottom: auto;
    font-size: 2.25em;
	
}

#locais .locais-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 320px;
	margin-bottom: 20px;
}

#locais .locais-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #252525;
	color: #252525;
	padding: 5px 10px;
	transition: 0.3s;	
}

#locais .locais-item a:hover{
	background-color: #000;
	color: #fff;
	transition: 0.3s;
}

/* 6 - SectionAssine */

#assine {
	background: #e7e4d8;
	padding: 30px 0;
}

#assine .assine-info {
	width: 460px;
	margin: 0 10px;
	float: left;
}

#assine .assine-info h2 {
	font-size: 2.25em;
}

#assine .assine-info p {
	font-size: 1.5em;
	font-style: italic;
}

#assine form {
	width: 460px;
	margin: 10px 0 0 10px;
	float: left;
}

#assine form label {
	display: none;
}

#assine input {
	width: 320px;
	border: 2px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
	padding: 10px;
	float: left;
}

#assine button {
	background: #252525;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	width: 114px;
	padding: 12px 0;
	color: #fff;
	cursor: pointer;
}


/* 6 - SectionFooter*/

footer {
	background: #d6d3c8;
	padding: 40px 0;
}


footer p {
    float: left;
	margin: 10px ;
	font-size: 1.125em;
}

footer img {
    float: right;
	margin: 0px 10px;
	display: block;
}